@import "tailwindcss";

@theme {
  --color-primary-50: #fbf8f3;
  --color-primary-100: #f4eee2;
  --color-primary-200: #e8dbbf;
  --color-primary-300: #d8c295;
  --color-primary-400: #c9a465;
  --color-primary-500: #bd8c41;
  --color-primary-600: #ae7535;
  --color-primary-700: #915a2d;
  --color-primary-800: #764a28;
  --color-primary-900: #603d23;
  --color-primary-950: #372011;

  --color-earth-900: #1a1412;
  --color-earth-950: #110d0a;
}

@layer base {
  :root {
    --background: #fbf8f3;
    --foreground: #1c1917;
  }

  .dark {
    --background: #110d0a;
    --foreground: #fbf8f3;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-primary-400 to-primary-600;
}

.bg-texture {
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23bd8c41' fill-opacity='0.05'%3E%3Cpath d='M36 34v-4h-2v4h-4v2h4v4h2v-4h4v-2h-4zm0-30V0h-2v4h-4v2h4v4h2V6h4V4h-4zM6 34v-4H4v4H0v2h4v4h2v-4h4v-2H6zM6 4V0H4v4H0v2h4v4h2V6h4V4H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
